
/*	Start click-menu css  */
.mnuContainer {
	margin: 0px;
	padding: 0px;
	border: 0px solid #0075B8;
	background-color: #5AB0E2;
}
.mnuHead {
	margin: 0px;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	white-space: nowrap;
	background-color: #5AB0E2;
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-top: 1px solid #E6F4FF;
	border-right: 1px solid #0075B8;
	border-bottom: 1px solid #0075B8;
	border-left: 1px solid #E6F4FF;
}
.mnuHeadHover {
	margin: 0px;
	border: 1px solid #0075B8;
	font-size: 12px;
	font-weight: bold;
	color: #063350;
	text-decoration: none;
	white-space: nowrap;
	background-color: #C69BBB;
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 5px;
}
div.mnuChild {
	margin: 0px;
	font-size: 10px;
	font-weight: bold;
	color: #063350;
	text-decoration: none;
	white-space: nowrap;
	background-color: #A5DDFF;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
	border-top: 1px solid #E6F4FF;
	border-right: 1px solid #0075B8;
	border-bottom: 1px solid #0075B8;
	border-left: 1px solid #E6F4FF;
	width:100%;
}
div.mnuChildHover,div.menuButtonActive,div.menuButtonActive:hover {
	margin: 0px;
	border: 1px solid #0075B8;
	font-size: 12px;
	font-weight: bold;
	color: #063350;
	text-decoration: none;
	white-space: nowrap;
	background-color: #E6F4FF;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
	width:100%;
}


/*	Start basic menu css  */
div.menu {
  width: 160px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  text-align: left;   
}
div.menu a:link, 
div.menu a:visited,
div.menu a:active,
div.menu h4 a:link,
div.menu h4 a:visited,
div.menu h4 a:active {
  display:block;
  width: 100%;  
  margin: 0px;
  padding: 2px;
  border: 0px;
  text-decoration: none; 
  color:#FFFFFF;
  border: 0px solid #EAEDF0;
}
div.menu h4 {
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-weight: normal; 
  border: 0px solid #EAEDF0;
}
div.menu a:hover,
div.menu h4 a:hover {   
  border: 1px solid #000000; 
  font-weight: bold; 
  padding: 1px;
  cursor: pointer;  
  color:#FF0000;
  background-color: #ffffff;
}

html>body div.menu a { width:auto;color: #0000BE; }
html>body div.menu a:visited { width:auto;color: #0000BE; }
html>body div.menu h4 a { width:auto;color: #0000BE; }
html>body div.menu h4 a:active { width:auto;color: #0000BE; }
html>body div.menu h4 a:visited { width:auto;color: #0000BE; }
/*	End basic menu css  */


/*  Start Navbar menu styles */
div.menuBar,
div.menuBar a.menuButton,
div.nav_menu,
div.nav_menu a.nav_menuItem { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; color: #D9DEE2; white-space: nowrap; }
div.menuBar {
  padding-top: 7px;
  padding-right: 2px;
  padding-bottom: 5px;
  padding-left: 2px; 
  border: 0px inset #D9DEE2;
  text-align: left;
}
div.menuBar a.menuButton, div.menuBar a.menuButton:visited {
  margin: 2px;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
  left: 0px;
  position: relative;
  top: 0px;
  z-index: 100; 
  border: 1px outset #ffffff;
  text-decoration: none; color: #FFFFFF;  
  background-color: transparent;  
}
div.menuBar a.menuButton:hover {
  margin: 0px;  
  left: 0px;
  top: 0px;
  color: #000000;   
  border: 1px inset #ffffff;  
  background-color: transparent; 
}
div.menuBar a.menuButtonActive,

div.menuBar a.menuButtonActive:hover {
  margin: 2px; 
  left: 0px;
  top: 0px; 
  color: #000000;  
  border: 1px inset #ffffff;   
  background-color: transparent;  
}
div.nav_menu {
  margin-top: -2px;  
  position: absolute;
  visibility: hidden;
  z-index: 101; 
  left: 0px;   
  text-align:center; 
  padding: 3px;
  /*
  padding: 2px 2px 2px 2px;
  */
  border: 0px solid #0075B8;
  background-color: #5AB0E2;
}
div.nav_menu a.nav_menuItem, div.nav_menu a.nav_menuItem:visited {
  display: block; 
  cursor: pointer;
  text-decoration: none; 
  white-space: nowrap;
  
	margin: 0px;
	font-size: 12px;
	font-weight: bold;
	color: #063350;
	text-decoration: none;
	text-align:left;
	background-color: #A5DDFF;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-top: 1px solid #E6F4FF;
	border-right: 1px solid #0075B8;
	border-bottom: 1px solid #0075B8;
	border-left: 1px solid #E6F4FF;
  white-space: nowrap;
}
div.nav_menu a.nav_menuItem:hover, div.nav_menu a.menuItemHighlight { color: #000000; background-color: #8FD4FD; }

div.nav_menu a.nav_menuItem span.menuItemText {}

div.nav_menu a.nav_menuItem span.menuItemArrow { margin-right: -.75em; }

div.nav_menu div.menuItemSep { margin: 1px 1px; border: 1px solid #FFFFFF; color:#FFFFFF; }

/* End NavBar Menu styles */


/*  Start VERT Navbar menu styles */
div.menuBarV,
div.menuBarV a.menuButtonV,
div.vfly_menu,
div.vfly_menu a.fly_menuItem { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; color: #D9DEE2; white-space: nowrap; }
div.menuBarV {
	/*
  border: 0px inset #D9DEE2;
  width:175px;
  padding-top: 5px;
  padding-right: 2px;
  padding-bottom: 5px;
  padding-left: 2px; 
  */
  text-align:center;
	
	margin: 0px;
	padding: 0px;
	border: 0px solid #0075B8;
	background-color: #5AB0E2;
}
div.menuBarV a.menuButtonV, div.menuBarV a.menuButtonV:visited {
  display:block;
  margin: 0px;
  cursor: pointer;
  left: 0px;
  top: 0px;
  width:161px;
  /*white-space: nowrap;
  position: relative;
  z-index: 90; 
  */
  
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align:left;
	background-color: #5AB0E2;
	padding-top: 6px;
	padding-bottom: 5px;
	padding-right: 3px;
	padding-left: 10px;
	border-top: 1px solid #E6F4FF;
	border-right: 1px solid #0075B8;
	border-bottom: 1px solid #0075B8;
	border-left: 1px solid #E6F4FF;
}
div.menuBarV a.menuButtonV:hover {
  margin: 0px;  
  left: 0px;
  top: 0px;
  color: #FFFFFF;   
  border: 1px inset #ffffff;  
  background-color: #5AB0E2; 
}
div.menuBarV a.menuButtonActive,
div.menuBarV a.menuButtonActive:hover {
  margin: 0px; 
  left: 0px;
  top: 0px; 
  color: #FFFFFF;  
  border: 1px inset #ffffff;   
  background-color: #5AB0E2;  
}
div.vfly_menu {
  margin-top: -2px;  
  position: absolute;
  visibility: hidden;
  z-index: 101; 
  left: 0px;  
  border: 0px solid #000000;  
  
	padding: 0px;
	border: 0px solid #0075B8;
	background-color: #5AB0E2;
}
div.vfly_menu a.vfly_menuItem, div.vfly_menu a.vfly_menuItem:visited {
  display: block; 
  cursor: pointer;
  text-decoration: none; 
  white-space: nowrap;
  
	margin: 0px;
	font-size: 12px;
	font-weight: bold;
	color: #063350;
	text-decoration: none;
	text-align:left;
	background-color: #A5DDFF;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-top: 1px solid #E6F4FF;
	border-right: 1px solid #0075B8;
	border-bottom: 1px solid #0075B8;
	border-left: 1px solid #E6F4FF;
}
div.vfly_menu a.vfly_menuItem:hover, div.vfly_menu a.menuItemHighlight { 
	/*
	color: #000000; 
	background-color: #8FD4FD; 
	*/
	margin: 0px;
	border: 1px solid #0075B8;
	font-size: 12px;
	font-weight: bold;
	color: #063350;
	text-decoration: none;
	background-color: #E6F4FF;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

div.vfly_menu a.vfly_menuItem span.menuItemText {}

div.vfly_menu a.vfly_menuItem span.menuItemArrow { margin-right: -.75em; }
div.vfly_menu a.menuButtonV span.menuItemArrow {
	margin-top: 15px;
	display:inline;
	vertical-align: middle;
	z-index: 100;
}

div.vfly_menu div.menuItemSep {
	margin: 1px;
	height:5px;
	border: 1px solid #000000;
	color:#000000;
}

/* End NavBar Menu styles */

/* Start TABS styles */
.tabframe {
	border: 2px solid #EE472F;
	background-color: #A5DDFF;
}

#tablist{
	padding: 3px 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0.1em;
	font: bold 12px Verdana;
}

#tablist li{
  list-style: none;
  display: inline;
  margin: 0;
}

#tablist li a{
  text-decoration: none;
  padding: 3px 0.5em;
  margin-left: 3px;
  border: 1px solid #FF5A00;
  border-bottom: none;
  background: #FFFFFF;
}

#tablist li a.current, #tablist li a.current:visited{
  background: #5AB0E2;
  color: #FFFFFF;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 1px;
}

#tablist li a:link, #tablist li a:visited{
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 1px;}

#tablist li a:hover{
  background: #C69BBB;
  border-color: #EE472F;
  color: #FFFFFF;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 1px;
  }